span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}

.header {
    background: #000;
    box-shadow: 0 0.125em 0.313em rgba(0,0,0,0.15);
    color: #fff;
    font-size: 2.250em;
    padding: 1.250em 0;
    text-align: center;
    text-transform: uppercase;
}

.main {
    margin: 2.500em 0;
}

.row {
    background: #000;
    box-shadow: 0 2.250em 0.313em rgba(0,0,0,0.15);
    height: 4.225em;
    margin: 0.500em auto;
    padding: 0;
    width: 100%;
}

.row img {
    height: 3.125em;
    width: 3.125em;
}
.row p, .row span {
    display: inline-block;
    height: 3.125em;
    line-height: 3.125em;
    margin: 0;
}

.col-xs-6 p {
    color: #FF8C00;
    font-size: 1.250em;
}

.counters {
    text-align: center;
}

.counters span {
    background: #ffa800;
    font-size: 1.250em;
    width: 2.500em;
}

.counters span.count {
    background: #fff;
}

@media (max-width: 30.000em) {
    .col-xs-6 {
        width: 41%;
    }
    .col-xs-4 {
        width: 42%;
    }
}


.col-xs-2 img {
    border: solid 0.125em #FF8C00;
    box-shadow: #FF8C00 0em 0em 0.313em;
}



