html { 
  background: url(../BLACKWOOD2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#TitleDiv {
    float: left;
    margin-top: 0.238em;
    margin-left: 0.238em;
    text-align: left;
    color: #FF8C00;
    font-size: 10em;
    text-shadow: #FF8C00 0em 0em 0.225em;
}


#MainLinks {
    text-align: center;
    margin-top: 0.138em;
    margin-right: 0.7em;    
    float: right;
    background: transparent;              
}

#MainLinks a {
    color: #FF8C00;
    font-size: 1.2em;    
    padding: 0.313em;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    text-shadow: #FF8C00 0em 0em 0.125em;
}



#TotalAccord {
    clear: both;    
    float: left;
    margin-top: 3.125em;
    margin-left: 3.125em;
}



#SiteMap {
    text-align: center;
    margin-top: 6.250em;
    margin-right: 1.250em;
    clear: both;    
    float: right;
    background: transparent;
}

#SiteMap a {
    color: #FF8C00;
    font-size: 1.2em;    
    padding: 0.313em;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    text-shadow: #FF8C00 0em 0em 0.125em;
}


.Growshadow {
  
  vertical-align: middle;
  -webkit-transform: perspective(0.063em) translateZ(0);
  transform: perspective(0.063em) translateZ(0);
  box-shadow: 0 0 0.063em transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.Growshadow:hover, .Growshadow:focus, .Growshadow:active {
  box-shadow: 0 0.625em 0.625em -0.625em rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


#Drag {
    position: fixed;    
    background: url(../Top.png) no-repeat center center;
    width: 3.125em;
    height: 3.125em;
    margin-left: 131.000em;
    margin-top: 63.063em;
    clear: both;
    float: right;
    border: solid 0.125em #FF8C00;
    box-shadow: #FF8C00 0em 0em 0.313em;
}











































